GOOGLE_SHEETS_SPREADSHEET_ID=1rJ-VLEst2qrQfCZftTvFGCEiSsomic_K_K4My4ApAIg
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GMAIL_USER=aisling.kennan@gmail.com
GMAIL_APP_PASSWORD=your-16-char-app-password
NEXT_PUBLIC_BASE_URL=http://localhost:3000
ADMIN_SECRET=choose-a-secret
